:root {
  --white: #fff;
  --black: #000;
  --light-gray: #f8f9f8;
  --gray: #edecec;
}

.app-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 250px auto;
}

.sidenav {
  background-color: #f8f9f8;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.sidenav .logo {
  width: 150px;
  align-self: flex-start;
  padding-bottom: 1.5rem;
}

.sidenav .menu-item {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--black);
  width: 100%;
  padding: .4rem .4rem .4rem 1rem;
  border-radius: 6px;
  font-size: .8rem;
  font-weight: 500;
  opacity: .6;
}

.active-link, .menu-item:hover {
  background-color: var(--gray);
  transition: ease-in-out .2s;
  opacity: 1;
}

.pointer, .active-link {
  cursor: pointer;
}


.main-content {}