:root {
  --white: #fff;
  --black: #000;
  --light-gray: #f8f9f8;
  --gray: #edecec;
  --purple: #6e47ea;
  --light-purple: #a48cf4;
}

.app-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 250px auto;
}

.sidenav {
  background-color: #f8f9f8;
  flex-direction: column;
  gap: .5rem;
  height: 100%;
  padding: 1rem;
  border-right: 2px solid var(--gray);
}

.sidenav .logo {
  width: 150px;
  align-self: flex-start;
  padding-bottom: 1.5rem;
}

.sidenav .menu-item {
  gap: .5rem;
  color: var(--black);
  width: 100%;
  padding: .4rem .4rem .4rem 1rem;
  border-radius: 6px;
  font-size: .8rem;
  font-weight: 500;
  opacity: .6;
}

.sidenav .active-link,
.menu-item:hover,
.clear-chat-history {
  background-color: var(--gray);
  transition: ease-in-out .2s;
  opacity: 1;
}

.pointer,
.menu-item .active-link {
  cursor: pointer;
}

.main-content .header {
  height: 55px;
  border-bottom: 2px solid var(--gray);
  justify-content: end;
  padding-right: 2rem;
  gap: .5rem;
}

.main-content .header img {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, pink, #d4c9f8) border-box;
  border: 4px solid transparent;
  border-radius: 50%;
}

.main-content .login-btn {
  background-color: var(--purple);
  padding: .4rem .6rem;
  color: var(--white);
  border-radius: 10px;
  font-weight: 500;
  font-size: .8rem;
  cursor: pointer;
  gap: .5rem;
}

.main-content .login-btn:hover {
  opacity: .85;
  transition: all .4s ease-in-out;
}

.main-content .content {
  width: 75%;
  justify-content: space-between;
  height: calc(100% - 55px - 3rem);
  margin: 1rem auto 2rem auto;
}

.main-content .top-section {
  gap: 1.5rem;
}

.main-content .content .text {
  gap: .3rem;
}

.no-questions-added {
  border: 2px solid var(--gray);
  border-radius: 12px;
  padding: 1rem 1.2rem 2rem 1.2rem;
}

.no-questions-added .chat-bubbles {
  width: 150px;
}

.flex,
.no-questions-added,
.sidenav .menu-item,
.main-content .header,
.main-content .login-btn,
.main-content .content {
  display: flex;
}

.flex-col,
.no-questions-added,
.main-content .content {
  flex-direction: column;
}

.no-questions-added .items-center,
.sidenav,
.sidenav .menu-item,
.main-content .header,
.main-content .login-btn,
.chat-card {
  align-items: center;
}

.gap-3,
.no-questions-added {
  gap: 3rem;
}

.no-questions-added .text {
  gap: .5rem;
}

.shadow {
  box-shadow: 1px 2px 1px 0px #edeaea;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  padding: 0.6rem;
  border-radius: .4rem;
  border-color: var(--light-purple);
  width: inherit;
}

.input-container input[type="text"] {
  font-weight: 500;
}

.bottom-section {
  gap: 1rem;
}

.relative,
.chat-card .avatar-container {
  position: relative;
}

.absolute {
  position: absolute;
}

.round,
.chat-card .avatar {
  border-radius: 50%;
}

.chat-card:hover {
  background-color: #eee9fd;
}

.chat-card {
  gap: .5rem;
  padding: .8rem;
  border-radius: .5rem;
}

.chat-card .avatar {
  width: 45px;
  height: 45px;
  position: relative;
}

.chat-card .chat-icon {
  height: 22px;
  width: 22px;
  position: absolute;
  right: -3px;
  bottom: 3px;
}

.chat-cards {
  row-gap: 1rem;
}

.chat-card .text {
  gap: 1rem;
}

.clear-chat-history {
  padding: .5rem;
  border-radius: .5rem;
  padding: .4rem;
  border-radius: .8rem;
}

.bottom-section .input-icons {
  gap: .4rem;
  right: .6rem;
  top: 45%;
  transform: translateY(-50%);
}

.bottom-section .paper-plane-icon {
  transform: rotate(315deg);
}

.bottom-section .app-version {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}