:root {
  --white: #fff;
  --black: #000;
  --light-gray: #f8f9f8;
  --gray: #edecec;
  --purple: #6e47ea;
}

.app-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 250px auto;
}

.sidenav {
  background-color: #f8f9f8;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  height: 100%;
  padding: 1rem;
  border-right: 2px solid var(--gray);
}

.sidenav .logo {
  width: 150px;
  align-self: flex-start;
  padding-bottom: 1.5rem;
}

.sidenav .menu-item {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--black);
  width: 100%;
  padding: .4rem .4rem .4rem 1rem;
  border-radius: 6px;
  font-size: .8rem;
  font-weight: 500;
  opacity: .6;
}

.sidenav .active-link,
.menu-item:hover {
  background-color: var(--gray);
  transition: ease-in-out .2s;
  opacity: 1;
}

.pointer,
.menu-item .active-link {
  cursor: pointer;
}


.main-content .header {
  height: 55px;
  border-bottom: 2px solid var(--gray);
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 2rem;
  gap: .5rem;
}

.main-content .header img {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, pink, #d4c9f8) border-box;
  border: 4px solid transparent;
  border-radius: 50%;
}

.main-content .login-btn {
  background-color: var(--purple);
  padding: .4rem .6rem;
  color: var(--white);
  border-radius: 10px;
  font-weight: 500;
  font-size: .8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.main-content .login-btn:hover {
  opacity: .85;
  transition: all .4s ease-in-out;
}